* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/todowallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Plus Jakarta Sans";
  zoom: 1.25;
}

.todo-container {
  box-shadow: 0px 0px 52px 4px rgba(171, 65, 201, 0.15);
  color: whitesmoke;
  background-color: rgba(5, 5, 5, 0.65);
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  gap: 15px;
  padding: 40px;
  font-size: 1.5rem;
  animation: fadeInUp 1s;
}
.todo-container header {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

#todo-form {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

.inputs {
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;
  background-color: rgba(5, 5, 5, 0.65);
  font-family: "Plus Jakarta Sans";
}

.buttons {
  border: 1px solid rgba(245, 245, 245, 0.5);
  padding: 10px;
  background-color: rgba(5, 5, 5, 0.5);
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  margin-left: 5px;
}
.buttons:hover{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}

.form-control {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.hide{
  display: none;
}

.flex{
  display: flex;
}

.form-control .buttons {
  width: 10%;
}
#toolbar {
  display: flex;
  align-items: center;
  height: 87px;
}

#edit-form {
  display: none;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

.search {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  border-right: 1px solid rgba(245, 245, 245, 0.5);
}
.search input {
  margin-top: 0px;
}
.search form {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

#filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
#filter-select {
  margin-top: 15px;
}

#erease-button {
  padding: 10px;
  border: none;
  color: whitesmoke;
  border-radius: 5px;
  background-color: rgb(83, 3, 105);
  transition: .2s;
}#erease-button:hover{
    color: rgb(83, 3, 105);
    background-color: whitesmoke;
}

.todo {
  font-size: 0.95rem;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 5px;
  padding: 10px;
  animation: fadeIn 1s;
  transition: 0.8s;
}

#todo-list {
  display: none;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.made{
  background-color: #53036980;
  border: 1px solid rgb(83, 3, 105);
  text-decoration-line: line-through;
  font-style: italic;
  animation: fadeIn  ease-in-out 1s;
  transition: 0.8s;
}
.finish-todo:hover{
  color: whitesmoke;
  background-color: green;
}
.edit-todo:hover{
  color: whitesmoke;
  background-color: rgb(192, 192, 24);
}
.remove-todo:hover{
  color: whitesmoke;
  background-color: red;
}


#cancel-edit-btn{
  padding: 10px;
  margin-top: 10px;
  font-family: "Plus Jakarta Sans";
  cursor: pointer;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(83, 3, 105);
  transition: .2s;
}#cancel-edit-btn:hover{
  color: rgb(83, 3, 105);
  background-color: whitesmoke;
  box-shadow:inset 0px 0px 0px 1px rgb(83, 3, 105)
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
